<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>483803846444-19cme9ildpmkoo10bgetocst94gacqu5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.483803846444-19cme9ildpmkoo10bgetocst94gacqu5</string>
	<key>API_KEY</key>
	<string>AIzaSyAUFHHVi7hChIY9Vh6pZa3qMeS5Qfry4_E</string>
	<key>GCM_SENDER_ID</key>
	<string>483803846444</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatee</string>
	<key>PROJECT_ID</key>
	<string>chatee-privatechat</string>
	<key>STORAGE_BUCKET</key>
	<string>chatee-privatechat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:483803846444:ios:6fca9a97a00b512123be89</string>
</dict>
</plist>